$font-stack: Verdana, sans-serif;
$font-color: #333;
$font-size: 16px;
$background-color: #fff;
$alt-color: #3e83c4;

html, body {
  font: $font-size $font-stack;
  color: $font-color;
  background: $background-color;
  margin: 0;
  padding: 0;
}

header {
  background: url('activist-header.png') center no-repeat;
  height: 290px;
  margin: 0 0 75px;
}

#content {
  min-height: 100%;
  margin: 0 auto;
  width: 600px;
}

#content-inner {
  padding: 0 0 25px 0;
}

footer {
  margin-top: -7px;
  height: 7px;
  background-color: $alt-color;
}

